<p>list-student works!</p>



<div class="container">
<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered" datatable [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let student of allstudents"> -->
              <tr *ngFor="let student of allstudents; index as i">
                <!-- <th scope="row">{{student.id}}</th> -->
                <td>{{i+1}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>
                    <!-- <button (click)="editStudent(student.id)" routerLink="/edit/{{student.id}}" class="btn btn-warning">Edit</button> |  -->
                    <button routerLink="/edit/{{i+1}}" class="btn btn-warning">Edit</button> | 
                    <button routerLink="/view/{{i+1}}" class="btn btn-warning">view</button> | 
                    <!-- <button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button> -->
                    <button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>
</div>

<!-- {{student.id}} bebohar korle serial no. change hobe na. jemon sl no. 1, 2, 3, 4 
        ami 3 no. delete korle sl no hobe 1, 2, 4 r jodi i bebohar kori tahole sl no. hobe 1, 2, 3 -->