<nav class="navbar nav-background navbar-expand-lg navbar-expand-md navbar-light ">
  <div class="container">
    <div class="logo">
      <a href="index.html"><img src="https://www.pinclipart.com/picdir/middle/88-888293_snowboarder-clip-art.png"
          class="img-fluid d-none d-md-block"></a>

    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="nav-content">
          <li class="nav-item active">
            <a class="nav-link" routerLink="add">Add Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="list">Students List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reg">Reg Student</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <div class="footer">
  <p>footer works!</p>
</div> -->